body {


/* background-color: black; */
/* background-image: url(jyoti.jpg); */





}

#header{
  text-align: center;
  background-color: aqua;
}

pre{
  margin-left: 30%;
}

.wel {
    background-color: aqua;
    font-size: 60px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.red{
  color: blue; 
    
}
