body{
   background-image:url("github\jyoti\WhatsApp Image 2025-07-25 at 14.22.24_bdf8ebb9.jpg ");
   
}
.wel{
    background-color: aqua;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
